# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [6]:
# Your code here
import numpy as np
import pandas as pd
url='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
customer_data_df=pd.read_csv(url)
print(customer_data_df.head()) #First rows of the dataframe

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

In [7]:
customer_data_df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [8]:
customer_data_df.columns = customer_data_df.columns.str.replace('ST', 'state').str.lower().str.replace(' ', '_')

print(customer_data_df.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [11]:
# Your code here
customer_data_df['gender'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [12]:
# Using map() to transform the 'Sex' column
gender_mapping = {'F': 'F', 'M': 'M', 'Femal':'F', 'Male':'M', 'female':'F'}
customer_data_df['gender'] = customer_data_df['gender'].map(gender_mapping)
customer_data_df['gender'].unique()

array([nan, 'F', 'M'], dtype=object)

In [13]:
customer_data_df['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [14]:
state_mapping = {'Washington': 'Washington', 'Arizona': 'Arizona', 'Nevada':'Nevada', 'California':'California', 'Oregon':'Oregon', 'Cali': 'California', 'AZ':'Arizona', 'WA':'Washington'}
customer_data_df['state'] = customer_data_df['state'].map(state_mapping)
customer_data_df['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [15]:
customer_data_df['education'] = customer_data_df['education'].str.replace('Bachelors', 'Bachelor')
customer_data_df['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [16]:
customer_data_df['customer_lifetime_value'] = customer_data_df['customer_lifetime_value'].str.replace('%', '')

In [17]:
vehicle_class_mapping = {"Sports Car":"Luxury", "Luxury SUV":"Luxury", "Luxury Car": "Luxury"}
customer_data_df['vehicle_class'] = customer_data_df['vehicle_class'].map(vehicle_class_mapping)
customer_data_df['vehicle_class'].unique()

array([nan, 'Luxury'], dtype=object)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [22]:
# Your code here
print( "Initial data types:\n",customer_data_df.dtypes,"\n")
customer_data_df['number_of_open_complaints'].unique()

Initial data types:
 customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value       object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [23]:
customer_data_df["customer_lifetime_value"]=customer_data_df["customer_lifetime_value"].astype(float)
open_complaints_mapping = {"1/0/00":0, "1/2/00":2, "1/1/00": 1, '1/3/00':3,'1/5/00':5, '1/4/00':4}
customer_data_df['number_of_open_complaints'] = customer_data_df['number_of_open_complaints'].map(open_complaints_mapping)
customer_data_df['number_of_open_complaints']=customer_data_df['number_of_open_complaints'].astype(float)
customer_data_df['number_of_open_complaints'].unique()

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

In [24]:
print( "Current data types:\n",customer_data_df.dtypes,"\n")

Current data types:
 customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [27]:
# Your code here
customer_data_df.isnull() #Checking if there are null values

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,False,False,True,False,True,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
4003,True,True,True,True,True,True,True,True,True,True,True
4004,True,True,True,True,True,True,True,True,True,True,True
4005,True,True,True,True,True,True,True,True,True,True,True
4006,True,True,True,True,True,True,True,True,True,True,True
4007,True,True,True,True,True,True,True,True,True,True,True

In [28]:
customer_data_df=customer_data_df.dropna(how='all') #Drop the rows which all values are null
customer_data_df.isnull() #Checking if there are still null values

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,False,False,True,False,True,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
1066,False,False,False,False,False,False,False,False,False,True,False
1067,False,False,False,False,False,False,False,False,False,True,False
1068,False,False,False,False,False,False,False,False,False,True,False
1069,False,False,False,False,False,False,False,False,False,True,False
1070,False,False,False,False,False,False,False,False,False,True,False

In [29]:
customer_data_df.isna().sum() #Summing up all the null values for each column

customer                       0
state                          0
gender                       117
education                      0
customer_lifetime_value        3
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
policy_type                    0
vehicle_class                980
total_claim_amount             0
dtype: int64

In [30]:
#Define which columns are categorical or numerical
categorical_vars=['customer', 'state', 'gender', 'education', 'policy_type', 'vehicle_class']
numerical_vars=['customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints','total_claim_amount']

#For numerical columns replace null values for the mean
for column in numerical_vars:
    customer_data_df[column]=customer_data_df[column].fillna(customer_data_df[column].mean())

#For categorical values replace null values for the mode
for column in categorical_vars:
    customer_data_df[column]=customer_data_df[column].fillna(customer_data_df[column].mode()[0])

#Summing up all the null values for each column
customer_data_df.isna().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [31]:
#Chaging the numerical columns from float to int
for column in numerical_vars:
    customer_data_df[column]=customer_data_df[column].astype(int)
    
#Print the new data tpes
print( "New data types:\n",customer_data_df.dtypes,"\n")

New data types:
 customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int32
income                        int32
monthly_premium_auto          int32
number_of_open_complaints     int32
policy_type                  object
vehicle_class                object
total_claim_amount            int32
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [34]:
# Checking if there are duplicated rows
customer_data_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1066    False
1067    False
1068    False
1069    False
1070    False
Length: 1071, dtype: bool

In [35]:
customer_data_df.drop_duplicates(inplace=True) #Drop the rows that are duplicated
customer_data_df.duplicated().sum() #Show how many rows are duplicated

0

In [36]:
# Reset index of the dataset
customer_data_df.reset_index(drop=True, inplace=True)
customer_data_df.to_csv('clean_customer_data.csv', index=False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [81]:
%load_ext autoreload
%reload_ext autoreload

import pandas as pd
from cleaning_functions import clean_customer_data

url='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
customer_data_df=pd.read_csv(url)

cleaned_df = clean_customer_data(customer_data_df)
cleaned_df.to_csv('clean_customer_data2.csv', index=False)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [83]:

# Review statistics
print(customer_data_df['total_claim_amount'].describe())
print(customer_data_df['customer_lifetime_value'].describe())

count    4008.000000
mean      404.141218
std       151.430161
min         0.000000
25%       404.000000
50%       404.000000
75%       404.000000
max      2893.000000
Name: total_claim_amount, dtype: float64
count    4.008000e+03
mean     7.936899e+05
std      3.320523e+05
min      2.004350e+05
25%      7.936900e+05
50%      7.936900e+05
75%      7.936900e+05
max      5.816655e+06
Name: customer_lifetime_value, dtype: float64

In [85]:
# Calculate percentiles
high_claim_threshold = customer_data_df['total_claim_amount'].quantile(0.75)
low_clv_threshold = customer_data_df['customer_lifetime_value'].quantile(0.25)

# Filter DataFrame
potential_customers = customer_data_df[
    (customer_data_df['total_claim_amount'] > high_claim_threshold) & 
    (customer_data_df['customer_lifetime_value'] < low_clv_threshold)
]

# Summary statistics for the filtered DataFrame
summary_stats = potential_customers[['total_claim_amount', 'customer_lifetime_value']].describe()
print(summary_stats)

       total_claim_amount  customer_lifetime_value
count          268.000000               268.000000
mean           613.970149            482374.712687
std            203.077445            155539.067345
min            405.000000            216852.000000
25%            468.000000            375295.750000
50%            537.000000            462617.000000
75%            699.500000            596409.750000
max           1577.000000            792313.000000